body, html {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

b {
    color: #ff9078;
    text-shadow: 0.04em 0.04em 0em red;
}

a {
    color: #b4f8ff;
    /* text-shadow: 0.0em 0.0em 0em #ff5454;
    transition: 100ms; */
}

/* a:hover {
    text-shadow: 0.1em 0.1em 0em #ff5454;
} */

#background {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(30deg, #1f1f1f, #1c1c2b);
    z-index: -1;
}

#name {
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: pre;
    font-family: Monospace;
    line-height: 20px;
    font-size: 10px;
    background-color: #121212;
    box-shadow: 0em 0em 5em 0em #00000096;
}

#name h1 {
    background-image: linear-gradient(90deg, #84d88d, #4ecdda);
    background-clip: text;
    color: #0000;
    text-shadow: 0em 0em 1em #00ff7091;
    letter-spacing: -0.16em;
    transform: scaleX(1.2);
    width: max-content;
}

#container {
    display: flex;
}

#lines {
    color: #9e9e9e;
    font-family: monospace;
    margin-left: 1em;
    font-size: 1.7em;
    border-right: 2px #b882b2 solid;
    width: min-content;
    padding-right: 0.5em;
    text-align: right;
    line-height: 1.7em;
}

#text {
    color: #f2e9e4;
    font-family: Monospace;
    font-size: 1.7em;
    line-height: 1.7em;
    margin-left: 1em;
    white-space: pre-line;
}
  